<div class="container">
  <div>    
    <form  [formGroup]="personalForm" (ngSubmit)="onSubmit()">
      <div>
        <div>
          <h3></h3>
        </div>
        <div>
          <div>
            <label for="firstName">First Name</label>
            <div class="col-sm-8">
              <input id="firstName" type="text" class="form-control" formControlName="firstName">                            
            </div>
          </div>
          <div >
            <label for="lastName">Last Name</label>
            <div class="col-sm-8">
              <input id="lastName" type="text" class="form-control" formControlName="lastName">              
            </div>
          </div>          

          <div style="margin-top:20px">
            <label for="gender" style="margin-right: 10px">Gender</label>
            <select name="demo" id="#" formControlName="gender">
              <option selected="selected" value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
              </select>
          </div>

          <div style=" margin-top: 20px; margin-bottom: 20px;">
            <div>
              <div>
                <button type="button" (click)="addSkillButtonClick()">
                  Add Address
                </button>
              </div>
            </div>
            
            <div style="margin-top: 20px;" formArrayName="addresses" *ngFor="let other of personalForm.get('addresses').controls; let i = index"
              >
              <div [formGroupName]="i">
                <div >
                  <label for="village">Village</label>
                  <div>
                    <input id="village" type="text" class="form-control" formControlName="village">
                  </div>
                  <label for="street">Street</label>
                  <div>
                    <input id="street" type="text" class="form-control" formControlName="street">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div >
          <button class="btn btn-primary" type="submit">Save</button>&nbsp;          
        </div>
      </div>
    </form>
  </div>
</div>
